#fondoLogin {
  background-color: #F0F0F0; 
  font-family: 'Roboto', sans-serif;
}

.fondo-login {
  background-image: url('./img/fondo.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
}

.color-fundacion-boton {
  background-color: #31aab9 !important;
  border-color: #31aab9 !important;
}

.color-fundacion-boton:hover {
  background-color: #288692 !important;
}

.color-fundacion-menu {
  background-color: #31aab9 !important;
  border-color: #31aab9 !important;
}

/**** Botones vista perfil Empresa, encuestas disponibles. ****/
.btn-outline-fundacion {
  color: #31aab9 !important;
  border-color: #31aab9 !important;
}

.btn-outline-fundacion:hover {
  color: #fff !important;
  background-color: #31aab9;
  border-color: #31aab9;
}
/**** ---------------------------------------------------- ****/

.lateral-menu {
  min-height: 100vh;
}

.no-box:focus {
  box-shadow: none !important;
}

.color-observatorio{
  color: #31aab9 !important;
}

.icon-profile-size{
  font-size: 60px !important;
}

.spinner-observatorio {
  color: #31aab9 !important; 
}

.ico-no-companies {
  font-size: 160px;
}

.btn-aca {
  font-size: 12.8px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  margin-bottom: 2px;
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.white {
  color: white;
}

.min-height {
  min-height: 90vh;
}