@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
  font-family: 'Roboto', sans-serif !important;
}

.footer-color {
  background-color:#262747;
  padding: 11px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.footer-size-img {
  width: 3em;
}

.footer-icon-size {
  font-size: 25px;
}

.user-icon-size {
  font-size: 70px;
}